h1 #{this.name}
.col-md-6
  .graph-container
.col-md-6
  .row
    h3 Node Inspector
    .node-inspect-container

  .row
    h3 Controls
    button.btn.btn-lrg.btn-danger Record
  
  .row
    h3 Nodes
    .results-table-container

    .controls-editor
