h1 #{this.name}
.col-md-7
  .graph-container
  
  .row
    h3 Nodes
    .results-table-container

    .controls-editor

.col-md-5
  .row
    h3 Controls

    button.btn.btn-lrg.btn-danger.record-start-button Record
    button.btn.btn-lrg.btn-danger.record-stop-button Recording...

  .total-display

  .row
    .node-inspect-container