footer
  .container-fluid.text-center
    p.pull-left © 2015 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/bedrockdata/stormchaser') GitHub Project
      li
        a(href='https://github.com/bedrockdata/stormchaser/issues') Issues